.main__tabla{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 72%;
    border: 3px solid white;
    border-radius: 10px;
}


.tabla__productsHoteles{
 
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    font-size: 1em;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px ;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.tabla__productsHoteles--btadd{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 1px 1px 15px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
       background: #1c50dd;
    border: solid #000000 1px;
    text-decoration: none;
    width: 15%;
    height: 5vh;
    }


.tabla__productsHoteles--btadd:hover{
    background-color: rgb(21, 214, 228);
border: 5px blue solid ;
color: white;
font-size: 30px;
cursor: pointer;
}

.tabla__productsHoteles--tabla {
    width: 98%;
    overflow-y: scroll;
    
 }





 th, td {
    width: 25%;
    text-align: center;
    vertical-align: center;
    border: 0.5px solid black;

 }
 

